.contenedorInput {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    color: black;
    input {
        width: 100%;
        padding: 7px;
        background-color: transparent;
        border: 1px #939393 solid;
        border-radius: 10px;
        // color: white;
    }
}
.btnCrear{
    margin-top: 10px;
    background-color: rgb(56 56 255);
    color: white;
    padding: 3px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

